.container {
    background-color: #ccc;
    height: 500px;
    display: flex;

    flex-direction: row; 
    flex-wrap: nowrap;
    flex-flow: row nowrap;

    justify-content: flex-start;
    align-items: flex-start;
    /*align content quando existe quebra de linha*/
}

.item {
    background-color: #ddd;
}
